/*
*
            Devices
*
*/
$mobile_res:            767px;
$tablet_res:            768px;
$desktop_res:           1200px;
$full:                  100%;
/*
*
            Fonts
*
*/
$primary-font:          Arial;
$secondary-font:        Georgia;
/*
*
            Text size
*
*/
$primary-size:   100%;
$primary-line-height:   1.4;

$size-h1:               3em;
$size-h2:               2.2em;
$size-h3:               1.5em;
$size-p:                1em;