mixin footer()
  footer.footer.cover&attributes(attributes)(style='background-image: url(images/main-bg.jpg)')
    .container
      .footer-row
        .footer-col
          .title.title-35 For questions and suggestions
          .contact-item
            .box-icon
              span.icon.icon-envelope
            a.contact-link(href='mailto:email@shelter.com') email@shelter.com
          .contact-item
            .box-icon
              span.icon.icon-telephone
            a.contact-link(href='tel:+136745677554') +13 674 567 75 54
        .footer-col
          .title.title-35 We are waiting for your visit
          .contact-item
            .box-icon
              span.icon.icon-pin
            a.contact-link(href='https://www.google.com/maps/search/Boston,+Central+Street,+1st/@42.353492,-71.319993,10z/data=!3m1!4b1') Boston, Central Street, 1st (Entrance from the store)
          .contact-item
            .box-icon
              span.icon.icon-pin
            a.contact-link(href='https://www.google.com/maps/place/Autopart+International/@42.298809,-71.0576139,17z/data=!3m1!4b1!4m5!3m4!1s0x89e37b43b478f087:0x5c7837ac5f69c0e7!8m2!3d42.2988004!4d-71.0554566') London, South Park, 18st
        img.img(src='images/pet-5.png' alt='')
